canvas {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  height: auto
}
html, body, .container-table {
  height: 100%
}
h1 {
  text-align: center
}
.result {
  text-align: center;
  color: white
}
.container-table {
  display: table
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle
}
